/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}


.main {
  /* background-image: url("/static/img/background-1.jpg"); */
  /* background-size: cover; */
  background: #111;
}



@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.heroTitle {
  color: #fff;

}

.heroSubtitle {
  color: var(--color-brand-secondary);
  font-weight: 500;
}

.heroTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;


}

.cube {
  height: 100px;
}

.cubeImg {
  height: 100%;
  mix-blend-mode: screen;
}

.wordmark {
  margin-top: 12px;
  height: 60px;

}

.wordmarkImg {
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .heroTitle {
    margin-left: -50px;
  }

  .cube {
    height: 50px;
  }

  .wordmark {
    height: 50px;
  }
}