/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --color-brand-primary: #031745;
  --color-brand-secondary: #82e4fb;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #dcdcdc;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-navbar-background-color: #000;
  --ifm-navbar-link-color:#84e9fd;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-footer-background-color: #031745;
  --ifm-link-color: #fff;
  --ifm-heading-color: #84e9fd;
}




.hero{
  background-color: transparent;
}
.navbar__item {
  letter-spacing: 2px;
  padding-top: 14px;
}

.navbar__logo {
  position: relative;
  top: -8px;
}
.body, html{
  font-family: Adriatic,sans-serif;
}
.navbar__logo:before {
    display: inline-block;
    position: relative;
    top: 4px;
    width: 40px;
    height: 40px;
    content: '';
    background-image:url(/static/img/cube.gif);
    background-size: contain;
}

.navbar__link-large {
  font-size: 16px;

  position: relative;
  top: -4px;
}
.navbar__link-small {
  font-size: 13px;
  padding-left: 0;
  margin-left:0;
  position: relative;
  top: -2px;
  letter-spacing: 1px;
}

.footer{
  letter-spacing: 1px;
  background-color: rgb(2, 10, 33);
  border-top: 4px solid rgba(126, 239, 255, 0.2);
  display: block;
  box-sizing: border-box;
}

.footer__title{
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  text-align: center!important;

}

.footer__item{
  color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 32px;
    text-align: center!important;
}
.footer__copyright{
  color: #6c757d!important;
}


.markdown a {
  text-decoration: underline;
  letter-spacing: 1px;
  /* font-weight: bold; */
  font-weight: 600;
  font-family: sans-serif;
  transition: color .4s;
}

.markdown a:hover {
  color: #84e9fd;
}



.button-3d-white {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  background: linear-gradient(0deg, #89a6b3 0%, rgba(255, 255, 255, 1) 100%);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 14px 8px;
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;

  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px !important;


}


.button-3d-white:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-3d-white:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-3d-white:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}